.app.dark {
  --bg-color: #090949;
  --inverted-bg-color: #e8e8ea;

  // primary
  --primary-color: #049604;
  --inverted-primary-color: #0232c2;

  // secondary
  --secondary-color: #0232c2;
  --inverted-secondary-color: #0452ff;
}