.app.light {
  --bg-color: #d0cece;
  --inverted-bg-color: #090949;
  --primary-color: #042b96;
  --inverted-primary-color: #049604;
  --secondary-color: #0449e0;
  --inverted-secondary-color: #04ff04;
}
