.app.light {
    --bg-color: #e8e8ea;
    --inverted-bg-color: #090949;

    // primary
    --primary-color: #0232c2;
    --inverted-primary-color: #049604;

    // secondary
    --secondary-color: #0449e8;
    --inverted-secondary-color: #0544b6;
}
